doctype html
html
  head
    title=""
    link(rel='stylesheet', href='css/style.css')
  body
    h1= title
    main
      section
        each project in data.projects
          h2= project.name
          p= project.slug
          ul
            each imgName in project.images 
              img(src='projects/'+project.slug+'/'+imgName)
